<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Document</title>
</head>
<body>
        <header>
        <div class = "left">
            <img src="/logo.png" alt="logo">
            <div class = "header_search">
                <i class="fa-solid fa-magnifying-glass" style="color: #777c82;"></i>
                <input type="text" placeholder = "Search">
            </div>
        </div>
    </header>
    <div class = "home">
        <p>Home</p>
        <i>></i>
        <p>404</p>
    </div>
    <div class = "found">
        <h1>404 Not Found</h1>
        <a href="/">
            <h3>Go to main page</h3>
        </a>
    </div>
    <script src="https://kit.fontawesome.com/66dd2dcae3.js" crossorigin="anonymous"></script>
</body>
</html>