<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Modern Cheir</title>
</head>
<body>
    <header>
        <div class = "left">
            <img src="/logo.png" alt="logo">
            <div class = "header_search">
                <i class="fa-solid fa-magnifying-glass" style="color: #777c82;"></i>
                <input type="text" placeholder = "Search">
            </div>
        </div>
    </header>
    <div class = "home">
        <p>Home</p>
        <i>></i>
        <p>Modern Cheir</p>
    </div>
    <div class = "content">
        <div class = "list"> 
            <div class = "list_content">
                <div class = "box mod_box">
                    <div class = "box_icon">
                        <div class = "salary">
                            <p>25%</p>
                        </div>
                        <div class = "icon">
                            <i class="fa-regular fa-heart fa-xl"></i>
                        </div>
                    </div>
                    <div class = "box_img">
                        <img src="cheir.png" alt="cheir">
                    </div>
                </div>
                <div class="box_text">
                    <div class="text_u">
                        <h1>Modern Cheir</h1>
                        <p>250$</p>
                        <di v class = "add_but">
                            <a href="/add">
                                <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
                                <button>Добавить продукт</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "box_bar modern_bar">
                <i class="fa-solid fa-ellipsis" onclick = "ChangeMenu()"></i>
                <div id = "burger-menu">
                    <div class = "menu-item">
                        <a href="/edit">
                            <p>Редактировать</p>
                        </a>
                    </div>
                    <div class = "menu-item">
                        <a href="/modern">
                            <p>Удалить</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/66dd2dcae3.js" crossorigin="anonymous"></script>
</body>
</html>